img
{
width:40%;
}
span
{
font-size:70px;

}
hr
{
border:1px solid #D6DBDF;
width:30%;
}
.a
{
border-radius:25px;
background-color:#F2F3F4;
padding:5px 20px;
width:9%;
color:#BDC3C7;
border:none;
}

#b
{
border-radius:25px;
background-color:#BFC9CA;
padding:5px 10px;
width:5%;
color:#212F3D;
border:none;
}
::placeholder
{
color:#BDC3C7;
}
.navigationbar
{
margin-left:10px;
margin-right:10px;
margin-top:10px;
background-color:rgb(235,235,235);
}
a.brandcss
{
color:#000000;
font-size:30px;
padding:30px;
}
.bellcss
{
font-size:20px;
color:#707B7C;  
}
#navbar1
{
background-color:rgb(196,196,196);
color:#7F8C8D;
}
input.input1
{
border:none;
margin:30px 20px 10px 20px;
border-radius:20px;
padding:5px 30px;
}
li.a_li
{
margin:25px;font-size:20px;
}
li.b_li
{
margin:25px;
font-weight:bold;
font-size:20px;
}
input.input2
{
border-radius:25px;
margin:25px;
width:65%;
background-color:#7F8C8D;
border:none;
}
#wellcss
{
margin:30px;
}
li.c_li
{
color:#ffffff;
font-size:30px;
}
li.d_li
{
color:#ffffff; 
font-size:20px; 
padding:10px;
}
div.div1
{
font-size:20px;
text-align:center;
}
div.div2
{
font-size:20px;
color:rgb(129,129,129);
text-align:center;
}
li.e_li
{
font-size:30px;
}
a.a_a
{
background-color:rgb(196,196,196);
color:rgb(0,0,0);
}
a.b_a
{
color:rgb(0,0,0);
}
#square
{
height:180px; 
width:180px;
background-color:rgb(196,196,196);
text-align:center;
}
h2
{
text-align:center;
}
select.select1
{
border-radius:25px;
background-color:rgb(239,239,239);
margin:10px;
padding:10px 10px;
width:15%;
border:none;
color:rgb(191,191,191);
font-size:20px;
}


.navigatebar
{
margin-left:10px;
margin-right:10px;
margin-top:10px;
color:#ffffff;
font-size:25px;
width:100%;
padding:10px;
margin:20px;
}
.table-button{
                border-radius:1.5rem;
                border-width:1px 1px 1px 1px;
                width:20%;
                background-color:rgba(200,200,200,1);
                padding-right:20%;
                padding-left:6%;
}
input.input4
{
border-radius:50px;
margin:10px;
padding:10px;
width:25%;
background-color:rgb(239,239,239);
border:none;
font-size:20px;
color:#000000;
}
td
{
font-size:20px;
font-weight:bold;
}
input.input3
{
border-radius:25px;
margin:25px;
padding:10px;
width:20%;
background-color:#7F8C8D;
border:none;
font-size:20px;
color:#ffffff;
}
.search-bar{
                
                border-radius: 2rem;
                border-width: 0px 0px 0px 0px;
                background-color:#FFFFFF;
                padding-left:10px;
                padding-top:7px;
                padding-bottom:7px;
                width:115%;
}
.search-bar-padding{
                padding-left:45px;
                padding-top:10px;
}
div.dashed {border-style: dashed;
height:200px;
width:200px;
border-color:#CFCFCF;
  margin: auto;
  
  padding: 10px;
}
#square1
{
height:500px; 
width:600px;
background-color:rgb(242,242,242);
text-align:center;
}
.glyphicon-plus
{
font-size:80px;
color:rgb(205,205,205);
}
#smallsquare
{
height:80px;
width:80px;
background-color:rgb(242,242,242);
}
input.input5
{
border-width:0px 0px 1px;
padding:15px;
border-color:rgb(181,181,181);

}
select.select2
{
border-width:0px 0px 1px;
padding:15px;
border-color:rgb(181,181,181);
font-size:20px;
}
.add {
  border-radius:25px;
  background-color : rgb(75,75,75);
  color: white;
  padding:10px 50px;
  border:none;
  margin:20px;
  font-size:20px;
  
  
}

#mybutton {
  position: fixed;
  bottom: 100px;
  right: 10px;
}
.cancel
{
border-radius:25px;
background-color: rgb(199,199,199);
color:rgb(138,138,138);
padding:10px 35px;
border:none;
margin:20px;
font-size:20px;
}
#mybutton1
{
  position:fixed;
  bottom:40px;
  right: 10px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
     height:120%;
  }
#spanid
{
font-weight:bold;
font-size:30px;
}
#spanid1
{
font-weight:bold;
font-size:30px;
}
#preid
{
border:none;
background-color:#ffffff;
font-size:25px;
margin:auto;
}
#spanid2
{
font-weight:bold;
font-size:30px;
}
ul
{
font-size:20px;
}
#ulid
{
width:100px;
}
#square2
{
height:100px; 
width:100px;
background-color:rgb(242,242,242);
float:left;
margin:10px 20px;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin:0px 90px;
  background-color:#000000;
}
.glyph_sign
{
font-size:20px;
}